//
// Buttons
// --------------------------------------------------
// Base styles
// --------------------------------------------------
.btn {
    font-family: 'fira_sansbold';
    border: 1px solid @color-grey-40;
    margin-bottom: 10px;
    &, &:active, &.active {
        &:focus, &.focus {
            .tab-focus();
        }
    }
}
.btn-default {
    color: @btn-default-color;
    background-color: @color-grey-20;
    #gradient > .vertical(@start-color: @color-grey-10, @end-color: @color-grey-20);
    &:hover:not(:active), &.hover:not(.active) {
        text-shadow: 0 0 5px fadeout(@btn-default-color, 50%);//rgba(145, 175, 45, 0.5);
    }
    &:active, &.active {
        #gradient > .vertical(@start-color: @color-grey-20, @end-color: @color-grey-10);
    }
    &.disabled, &[disabled], fieldset[disabled] & {
        &, &:hover, &:focus, &.focus, &:active, &.active {
            color: @btn-default-hover-color;
        }
    }
    .badge {
        color: @btn-default-hover-color;
    }
}

@facebook-dark-blue: #3b5998;
@facebook-middle-blue: #8b9dc3;
.btn-fb {
    color: @color-white;
    background-color: @facebook-dark-blue;
    #gradient > .vertical(@start-color: lighten(@facebook-dark-blue, 15%), @end-color: @facebook-dark-blue);
    &:hover:not(:active), &.hover:not(.active) {
        text-shadow: 0 0 1px @color-white;
    }
    &:focus, &.focus, &:active, &.active {
        #gradient > .vertical(@start-color: @facebook-dark-blue, @end-color: lighten(@facebook-dark-blue, 15%));
    }
}



// PixelForNature
// --------------------------------------------------

button#memberAccount {
    display: inline;
    float: left;
    width: 45%;
    min-width: 120px;
    margin-right: 10%;
}
button#logoutMember {
    display: inline;
    float: left;
    width: 45%;
    min-width: 120px;
}
