//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.btn {
 	border: 0;
	margin-bottom: 10px;

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      .tab-focus();
    }
  }
}

.btn-default {
  color: @btn-default-color;
  background-color: @color-grey-20;
  #gradient > .vertical(@start-color: @color-white; @end-color: @color-grey-20);

  &:hover,
  &.hover,
  .open > .dropdown-toggle& {
    color: @btn-default-hover-color;
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    color: @btn-default-active-color;
  	#gradient > .vertical(@start-color: @color-grey-20; @end-color: @color-white);
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
	    color: @btn-default-hover-color;
    }
  }

  .badge {
    color: @btn-default-hover-color;
  }
}




// PixelForNature
// --------------------------------------------------

.btn-social {
	width: 48px;
	height: 48px;
	background-color: transparent;
}

.btn-facebook {
	background-image: url('/images/socials-icon.png');
	&:hover {
		background-image: url('/images/socials-icon.png');
		background-position: -48px 0;
	}
	&:active {
		background-image: url('/images/socials-icon.png');
		background-position: -96px 0;
	}
}

.btn-gplus {
	background-image: url('/images/socials-icon.png');
	background-position: 0 -48px;
	&:hover {
		background-image: url('/images/socials-icon.png');
		background-position: -48px -48px;
	}
	&:active {
		background-image: url('/images/socials-icon.png');
		background-position: -96px -48px;
	}
}

.btn-twitter {
	background-image: url('/images/socials-icon.png');
	background-position: 0 -96px;
	&:hover {
		background-image: url('/images/socials-icon.png');
		background-position: -48px -96px;
	}
	&:active {
		background-image: url('/images/socials-icon.png');
		background-position: -96px -96px;
	}
}

.btn-youtube {
	background-image: url('/images/socials-icon.png');
	background-position: 0 -144px;
	&:hover {
		background-image: url('/images/socials-icon.png');
		background-position: -48px -144px;
	}
	&:active {
		background-image: url('/images/socials-icon.png');
	background-position: -96px -144px;
	}
}


button#memberAccount {
    display: inline;
	float: left;
    width:45%;
    min-width:120px;
    margin-right:10%;
}

button#logoutMember {
    display: inline;
	float: left;
    width:45%;
    min-width:120px;
}