/**********
 * Menus and Overlays
 **********/

.transparentLight {
    color: rgba(0, 0, 0, 0.6);
    background-color: rgba(255, 255, 255, 0.9);
}
.transparentDark {
    background-color: rgba(0, 0, 0, 0.8);
}
.fullscreenOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
}
#menu {
    top: -100%;
    .transition(top 1s);
    .sliding-frame {
        position: relative;
        height: 100% - @close-container-height;
    }
}
#overlayReset {
    .transition(top 1s);
}
#helpBox {
    margin-top: 50px;
    display: none;
    border: 0;
    border-radius: 25px;
    text-align: center;
    p {
        margin: 0 -25px;
    }
    .row:first-child {
        position: relative;
        padding-top: 15px;
    }
    .row:last-child {
        padding-bottom: 15px;
    }
}
.close {
    width: 20px;
    height: 20px;
}
@media(min-width: @screen-sm-min) {
    .row-11-cols {
        margin-left: 8.3333333%;
    }
}
.help-icon {
    display: block;
    width: 100%;
    height: 80px;
    margin: 10px auto;
}
.tut-arrow {
    display: block;
    width: 20px;
    height: 20px;
    margin: 40px auto;
}
.close-container {
    position: relative;
    height: @close-container-height;
    min-height: 20px;
}
#prev-next-container {
    width: 20%;
    height: 100%;
    min-width: 96px;
    #nextMenu {
        float: right;
    }
}
.menu-navigation {
    width: 32px;
    height: 100%;
    background: transparent;
    border: none;
    .opacity(.5);
    svg {
        width: 20px;
        height: 20px;
    }
    &[disabled] {
        .opacity(.1)
    }
    &:hover:enabled {
        .opacity(.9);
    }
    &:focus {
        outline: 0;
    }
}
#closeMenu {
    position: absolute;
    top: 0;
    right: 5px;
}
.sliding-frame {
    width: 100%;
    height: 100%;
    overflow: hidden;
    .sliding-card {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        &.slided {
            .transition(left 1s);
        }
        &.slided-center {
            left: 0;
        }
        &.slided-left {
            left: -100%;
        }
        &.slided-right {
            left: 100%;
        }
    }
}
.slidingHorizontal {
    padding-left: 3% !important;
    padding-right: 3% !important;
}
.noTransition {
    // .transition(none !important);
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}
.flipcard {
    position: relative;
    height: auto;
    min-height: 0px;
    // the webKit/FF/Opera way: flip the card and leave the faces alone
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -webkit-transition: e("min-height 1s ease-out 0s, -webkit-transform 1s ease-out 0.5s");
    -moz-transition: e("min-height 1s ease-out 0s, -moz-transform 1s ease-out 0.5s");
    -o-transition: e("min-height 1s ease-out 0s, -o-transform 1s ease-out 0.5s");
    -ms-transition: min-height 1s ease-out 0s; // separate height and rotation animations
    &.card-flipped {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
    }
    .flipcard-front, .flipcard-back {
        top: 0;
        left: 0;
        width: 100%;
        .backface-visibility(hidden);
        // the IE way: flip *each* face at the same time
        -ms-perspective: 800px;
        -ms-transform-style: flat;
        -ms-transition: -ms-transform 1s ease-out 0.5s;
    }
    .flipcard-front {
        position: relative;
        display: inline-block;
        .rotateY(0deg);
        // the IE way
        &.ms-front-flipped {
            -ms-transform: rotateY(180deg);
        }
    }
    .flipcard-back {
        position: absolute;
        display: none;
        .rotateY(180deg);
        // webkit bug: https://bugs.webkit.org/show_bug.cgi?id=54371
        -webkit-transform: rotateY(180deg) translateZ(1px);
        // the IE way
        &.ms-back-flipped {
            -ms-transform: rotateY(0deg);
        }
    }
}
