// Custom mixins
//



.combi-input-left(@width) {
	width: @width;
	float: left;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	// if we want to make the devider thinner, use this:
	// border-right-width: 0px;
}

.combi-input-middle(@width) {
	width: @width;
	float: left;
	border-radius: 0;
}

.combi-input-right(@width) {
	width: @width;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.tab-focus() {
  // Default
  outline: thin dotted @color-green-dark;
  // WebKit
  outline: 5px auto @color-green-dark;
  outline-offset: -2px;
}

.transform-style(@style) {
    transform-style: @style;
    -moz-transform-style: @style;
    -webkit-transform-style: @style;
}