@import "bootstrap/bootstrap.less";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400);
//@import url(http://fonts.googleapis.com/css?family=Fira+Sans:300italic);
@import url(http://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700,300italic,400italic,500italic,700italic);

@import "variables.less";
@import "mixins.less";
@import "vendor-prefixes.less"; // should be a mixin subfolder

@import "scaffolding.less";
@import "buttons.less";
@import "forms.less";
@import "menus.less";
@import "type.less";

@import "pixelfornature/auswahl.less";
@import "pixelfornature/ausschnitt.less";

.pixelCount {
    color: @color-green-dark;
    text-align: center;
    font-size: 2.2em;
    font-weight: @font-weight-bold;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
    border: 4px solid;
    border-radius: 5px;
    border-color: @color-green-dark;
    margin-bottom: 20px;
}

#bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-position: center top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    .background-size(cover);
    z-index: -100;
}

.mainColumn {
  border-top: 4px solid @color-green-dark;
}

.float-container {
    overflow: hidden;
}

#socials-container {
    margin-top: 50px;
}

@media(min-width: @screen-lg-min) {
    // column gutter for large screens
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12 {
        padding-left: 25px;
        padding-right: 25px;
    }
    // padding for large screens
    .container-fluid {
        padding-left: 10%;
        padding-right: 10%
    }
}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    // padding for medium screens
    .container-fluid {
        padding-left: 5%;
        padding-right: 5%
    }
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    // padding for medium screens
    .container-fluid {
        padding-left: 10%;
        padding-right: 10%
    }
}

.no-margin-bottom {
    margin-bottom: 0;
}

/**********
 * Camera control
 **********/

// png-way of doing things
/*
#master-control {
    position: relative;
    top: 0;
    width: @controller-dimension;
    height: @controller-dimension;
    background-image: url('/images/masterbutton.png');
    //  needs to sit on top of slider:
    z-index: 1;
    cursor: pointer;
    &.controller-normal {
        background-position: 0 0;
    }
    &.controller-normal-noslide {
        background-position: -@controller-dimension 0;
    }
    &.controller-middle-hover #middle-button {

        // background-position: (@controller-dimension * 0) (@controller-dimension * -1);
    }
    &.controller-middle-active {
        background-position: (@controller-dimension * -1) (@controller-dimension * -1);
    }
    &.controller-middle-hover-noslide {
        background-position: (@controller-dimension * -2) (@controller-dimension * -1);
    }
    &.controller-middle-active-noslide {
        background-position: (@controller-dimension * -3) (@controller-dimension * -1);
    }
    &.controller-up-hover {
        background-position: (@controller-dimension * 0) (@controller-dimension * -2);
    }
    &.controller-up-active {
        background-position: (@controller-dimension * -1) (@controller-dimension * -2);
    }
    &.controller-up-hover-noslide {
        background-position: (@controller-dimension * 2) (@controller-dimension * -2);
    }
    &.controller-up-active-noslide {
        background-position: (@controller-dimension * -3) (@controller-dimension * -2);
    }
    &.controller-down-hover {
        background-position: (@controller-dimension * 0) (@controller-dimension * -3);
    }
    &.controller-down-active {
        background-position: (@controller-dimension * -1) (@controller-dimension * -3);
    }
    &.controller-down-hover-noslide {
        background-position: (@controller-dimension * -2) (@controller-dimension * -3);
    }
    &.controller-down-active-noslide {
        background-position: (@controller-dimension * -3) (@controller-dimension * -3);
    }
    &.controller-left-hover {
        background-position: (@controller-dimension * 0) (@controller-dimension * -4);
    }
    &.controller-left-active {
        background-position: (@controller-dimension * -1) (@controller-dimension * -4);
    }
    &.controller-right-hover {
        background-position: (@controller-dimension * -2) (@controller-dimension * -4);
    }
    &.controller-right-active {
        background-position: (@controller-dimension * -3) (@controller-dimension * -4);
    }
}
*/

// Some styles are on the php file, as FF cannot resolve urls such as '#filter-middle-hover', since
// it will look inside this CSS file and not in the php file. See:
// http://stackoverflow.com/questions/20330149/svg-filter-only-working-when-added-in-style-attribute-firefox

@master-hover-color: #91AF2D;
@master-disabled-color: #AAA;

#middle-button { 
    cursor: pointer;

    &:active #middle-area, &:hover #middle-area {
        fill: #99b72c;
    }
}
#left-button {
    cursor: pointer;

    &:active #left-icon, &:hover #left-icon {
        fill: @master-hover-color;
    }
    &[disabled] {
        cursor: not-allowed;
        & #left-icon {
            fill: @master-disabled-color;
            cursor: not-allowed;
        }
    }
}
#right-button {
    cursor: pointer;

    &:active #right-icon, &:hover #right-icon {
        fill: @master-hover-color;
    }
    &[disabled] {
        cursor: not-allowed;
        & #right-icon {
            fill: @master-disabled-color;
            cursor: not-allowed;
        }
    }
}

#up-button {
    cursor: help;

    &:active #up-icon, &:hover #up-icon {
        fill: @master-hover-color;
    }
}

#down-button {
    cursor: pointer;

    &:active #down-icon, &:hover #down-icon {
        fill: @master-hover-color;
    }
}

#zoom-button {
    cursor: pointer;

    &:active #zoom-area, &.active #zoom-area, &:hover #zoom-area, &.hover #zoom-area {
        fill: #abcc37;
    }
}




area:focus {
    outline: 0;
}