@CHARSET "UTF-8";

/**********
 * General settings
 **********/


div#content {
	position: relative;
	height: 60%;
	min-height: 410px;
}



img#controllerImg {
	width: 100%;
	height: 100%;
}


/* fixed container for 2 background images */



.absoluteWrapper {
	position: absolute;
	width: 100%;
    z-index: 100;
}

.shadowed {
	-webkit-box-shadow: 0px 0px 10px 4px #0f0f0f;
	box-shadow: 0px 0px 10px 4px #0f0f0f;
}









::-webkit-input-placeholder { /* WebKit browsers */
    color: white;
}

input#name {
	position: absolute;
	top: 30px;
	left: 10px;
	width: 200px;
	border: 2px solid white;
	padding: 5px;
	font-size: large;
	color: white;
	background: rgba(255, 255, 255, 0.0);
	text-align: left;
	cursor: text;
	outline: none;
}

div#illegalNameMsg {
	position: absolute;
	left: 50%;
	top: 50%;
	min-width: 100px;
	max-width: 300px;
	width: 30%;
	margin: 0px 0 0 -15%;
}

h3#illegalNameHeader {
	text-align: center;
}


/**********
/* Vorschau
 **********/

div#overlay {
	position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    /* sit on top of camera control */
    z-index: 10;
   	-moz-transition: top 1s;
	-webkit-transition: top 1s;
	-ms-transition: top 1s;
	-o-transition: top 1s;
	transition: top 1s;
}

button#upload,
a#download {
	width: 80%;
	margin: 20px auto;
}

a.btn {
	text-decoration: none;
}











.initiallyHidden {
	display: none;
}



